<footer>
	<div class="row">
		<div class="col-ld-5 col-md-5 col-sm-5 col-xs-5 col-ld-offset-3  col-md-offset-3  col-sm-offset-3 col-xs-offset-3">
			<p class="text-center"><span>{{lobbytext.info}}<span/></p>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-1 col-ld-offset-2 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
			<p><a data-toggle="collapse" data-target="#footerCollapse"><span id="footerCollapseControl" class="glyphicon glyphicon-menu-down"/></a></p>
		</div>	
	</div>
	<div class="row">
		<div id="footerCollapse" class="panel-collapse collapse">
				<div class="col-md-4 col-sm-4">
					<p class="text-center"><span>{{lobbytext.poweredBy}} {{productName.val}} {{productVersion.val}}</span></p>
				</div>
				<div class="col-md-4 col-sm-4">
					<p class="text-center"><small>{{lobbytext.servedBy}} {{serverName.val}} </small></p>
				</div>
				<div class="col-md-4 col-sm-4">
					<p class="text-center"><small>{{lobbytext.serverBootTime}} {{serverBootTime}}</small></p>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-ld-5 col-md-5 col-sm-5 col-xs-5 col-ld-offset-3 col-md-offset-3  col-sm-offset-3 col-xs-offset-3">
			<p class="text-center"><span>{{lobbytext.copyright}}</span></p>
		</div> 
	</div>
</footer>