<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-5" >
			<p><span>{{rolluptext.max}}</span><span name="max">{{max}}</span><span name="maxunit">{{unit}}</span></p>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-5" >
			<p><span>{{rolluptext.min}}</span><span name="min">{{min}}</span><span name="minunit">{{unit}}</span></p>
		</div>
</div>
<div  class="row">
	<div name="history" class="col-md-12 col-sm-12 col-xs-12" >
	</div>
</div>
<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12" >
			<p class="text-center"><span name="date">{{date}}</span></p>
		</div>
</div>
