
<div id="paginationTable" class="table table-condensed overflow:scroll">
	<!--{{#eq context 'watch'}}
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-5">
			<span class="glyphicon glyphicon-signal"></span>
		</div>
		<div class="col-md-3 col-md-3 col-xs-3">
			<span class="glyphicon glyphicon-time"></span>
		</div
	</div>
	{{/eq}}-->
	<div id="paginationContainer">
	</div>
</div>

<div class="hidden-xs">
	<ul class="pagination">
	  <li {{#unless hasPrevious}}class="disabled"{{/unless}}>{{#if hasPrevious}}<a id="previousPage" href="#">&laquo;</a>{{else}}<span>&laquo;</span>{{/if}}</li>
	  {{#times totalPages}}
	  <li class="{{#eq currentPage @index}}active{{/eq}}">{{#eq currentPage @index}}<span>{{@index}}<span class="sr-only">(current)</span></span>{{else}}<a href="#" id="pagenav-{{@index}}">{{@index}}</a>{{/eq}}</li>
	  {{/times}}
	  <li {{#unless hasNext}}class="disabled"{{/unless}}>{{#if hasNext}}<a id="nextPage" href="#">&raquo;</a>{{else}}<span>&raquo;</span>{{/if}}</li>
	</ul>
</div>

	

