<div name="listItem">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-2">
			<p style="display: inline-block"><span class="h4"><span name="icon" class="glyphicon glyphicon-home"/></span></p>
		</div>
		<div class="col-md-7 col-sm-7 col-xs-8">
			<p style="display: inline-block"><span name="val" class="h2">{{val}}</span> <span name="unit" class="h2">{{unit}}</span>&nbsp;</p><p style="display: inline-block" class="h4"><span name="variance" class="{display: none}"/</p>
		</div>
		<div class="col-md-3 col-sm-3 hidden-xs" >
			<p><span name="timeStamp" class="h3">{{timestamp}}</span></p>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-2">
			<p style="display: inline-block"><span class="h4"><span name="status" class="glyphicon glyphicon-ok-circle"/></span></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-10">
			<p><span name="displayName" {{#if contentEditable }}contenteditable="true"{{/if}}>{{displayName}}</span></p>
		</div>
		<div class="col-md-3 col-sm-3 hidden-xs">
		</div>
		<div class="col-md-1 col-sm-1 col-xs-2">
			<p name="childCollapseItem"><a data-toggle="collapse" data-target="#childDetails{{elemId}}"><span name="childCollapseControl" class="glyphicon glyphicon-menu-down"/></a></p>
		</div>
	</div>
	<div id="childDetails{{elemId}}" name="childPanel" class="panel-collapse collapse">
	</div>
	<div id="infoDetails{{elemId}}" name="infoPanel" class="panel-collapse collapse">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<a name="deleteItem"><span class="glyphicon glyphicon-minus"></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<a name="recordItem"><span class="glyphicon glyphicon-record"></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<a name="alarmItem"><span class="glyphicon glyphicon-bell"></a>
			</div>
		</div>
	</div>
</div>