<div name="listItem">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-2">
			<p style="display: inline-block" class="h4"><span name="icon" class="glyphicon glyphicon-home"/></p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-8">
			<div class="roundslider">
				<!--<div class="value">
					<p style="display: inline-block" class="h2">
					<span name="val">{{val}}</span><span name="unit">{{unit}}</span>
					</p>
				</div>-->
			</div>
		</div>
		<div class="col-md-4 col-sm-4 hidden-xs">
		</div>
		<div class="col-md-1 col-sm-1 col-xs-2">
			<p style="display: inline-block" class="h4"><span name="status" class="glyphicon glyphicon-ok-circle"/><span name="statusText" class="hidden-xs"/></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-10">
			<p><span name="displayName" {{#if contentEditable }}contenteditable="true"{{/if}}>{{displayName}}</span></p>
		</div>
		<div class="col-md-3 col-sm-3 hidden-xs">
		</div>
		<div class="col-md-1 col-sm-1 col-xs-2">
		</div>
	</div>
	<div id="childDetails{{elemId}}" name="childPanel" class="panel-collapse collapse">
	</div>
	<div id="infoDetails{{elemId}}" name="infoPanel" class="panel-collapse collapse">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<a name="deleteItem" class="btn btn-primary btn-xs btn-block"><span class=" text-primary"/>{{itemtext.remove}}</a>
			</div>
		</div>
	</div>
</div>