<div  class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p><label>{{watchtext.watches}}</label><span name="count" class="badge pull-right"/></p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 hidden-xs">
		<p>
		<div class="btn-group">
			<button name="removeButton" type="button" class="btn btn-default disabled="disabled">
			  <span class="glyphicon glyphicon-minus"></span> {{watchtext.remove}}
			</button>
			<button name="createButton" type="button" class="btn btn-default">
			  <span class="glyphicon glyphicon-plus"></span> {{watchtext.create}}
			</button>
			<button name="reloadButton" type="button" class="btn btn-default">
			  <span class="glyphicon glyphicon-refresh"></span> {{watchtext.reload}}
			</button>
		</div>
		</p>
	</div>
</div>


<div id="watchList" class="row">
	
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 show-xs">
		<p>
		<div class="btn-group">
			<button name="createButton" type="button" class="btn btn-default">
			  <span class="glyphicon glyphicon-plus"></span> {{watchtext.create}}
			</button>
			<button name="reloadButton" type="button" class="btn btn-default">
			  <span class="glyphicon glyphicon-refresh"></span> {{watchtext.reload}}
			</button>
		</div>
		</p>
	</div>
</div>